name: folkers

services:
  frontend:
    build:
      context: folkers-frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://backend:3000

    ports:
      - 4173:4173
    environment:
      - NODE_ENV=production
    restart: unless-stopped

    depends_on:
      - backend

  backend:
    build:
      context: folkers-backend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      - RUST_LOG=debug
      - FOLKERS_JWT_SECRET=${FOLKERS_JWT_SECRET:-default_jwt_secret}
      - FOLKERS_BASE64_SALT=${FOLKERS_BASE64_SALT:-dGVzdCBoYXNoIHNhbHQ}
      - FOLKERS_UPLOAD_DIR=/app/.uploads
      - FOLKERS_DB_USERNAME=${FOLKERS_DB_USERNAME:-root}
      - FOLKERS_DB_PASSWORD=${FOLKERS_DB_PASSWORD:-toor}
      - FOLKERS_DB_NAMESPACE=${FOLKERS_DB_NAMESPACE:-folkers}
      - FOLKERS_DB_DATABASE=${FOLKERS_DB_DATABASE:-folkers}
      - FOLKERS_STATIC_ADMIN_USERNAME=${FOLKERS_STATIC_ADMIN_USERNAME:-mealet}
      - FOLKERS_STATIC_ADMIN_PASSWORD=${FOLKERS_STATIC_ADMIN_PASSWORD:-mealet}
      - FOLKERS_DB_ENDPOINT=surrealdb:8000
    volumes:
      - uploads_volume:/app/.uploads
    depends_on:
      - surrealdb
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: unless-stopped

  surrealdb:
    image: surrealdb/surrealdb:latest
    user: "root"
    command: start --username ${FOLKERS_DB_USERNAME:-root} --password ${FOLKERS_DB_PASSWORD:-root} rocksdb:/data/folkers.db
    ports:
      - 8000:8000
    restart: unless-stopped
    volumes:
      - surrealdb_data:/data

volumes:
  uploads_volume:
  surrealdb_data:
